body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
}

.background1 {
    background-image: url('venice.jpg');
}

.background2 {
    background-image: url('venezia2.jpg');
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 80px;
    max-width: 90%;
    margin: auto;
}

.calculator {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
}

.calculator label {
    display: block;
    margin-bottom: 10px;
}

.calculator input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
}

.calculator button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.calculator button:hover {
    background-color: #0056b3;
}

.green {
    background-color: #28a745 !important;
}

@keyframes bobbing {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.bobbing {
    animation: bobbing 0.4s infinite;
}


#result {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .container {
        padding-top: 50px;
    }
}
